*.iml
.gradle
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/release/
keystore.properties
publisher.properties
app/.cxx/
Gemfile
Gemfile.lock
fastlane/Appfile
.kotlin/
.idea
!.idea/modules.xml
!.idea/runConfigurations
fastlane/report.xml
